{% extends 'layout/layout.html' %}
{% block body %}
  <h2>Zerto Events</h2>
  <table id="table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Description</th> 
        <th>Site Name</th>
      </tr>
    </thead>      
    <tbody>
      {% for result in results %}
        <tr>
          <td>{{result.Type}}</td>
          <td>{{result.Description}}</td>
          <td>{{result.SiteName}}</td>
        </tr>
      {% endfor %}
    </tbody> 
  </table>

  <script>
    $(document).ready( function () {
      $('#table').DataTable({
        "pageLength": 100,
        dom: 'Bfrtip',
        buttons: [
            'csv', 'copy', 'excel', 'pdf', 'print'
        ]
      });
    });   
  </script>
{% endblock %}